<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <br />
    <div class="row">
        
        <div class="ssl-container col-xs-12 col-sm-4 col-lg-3">
            <span class="ssl glyphicon glyphicon-lock"></span>
            <span class="ssl-text">                
                256 Bit SSL<br />
                Verschlüsselung
            </span>        
            <div class="clearfix"></div>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="step active">
                        <span class="glyphicon glyphicon-home"></span> 
                        Adresse
                        <div class="hidden-xs caret right"></div>
                        <div class="visible-xs caret bottom"></div>
                    </div>          
                </div>
        
                <div class="col-xs-12 col-sm-4">
                    <div class="step">
                            <span class="glyphicon glyphicon-usd"></span> 
                            Bezahlen
                            <div class="hidden-xs caret right"></div>
                        <div class="visible-xs caret bottom"></div>
                    </div>
                </div>
            
                <div class="col-xs-12 col-sm-4">
                    <div class="step">
                        <span class="glyphicon glyphicon-ok"></span> 
                        Bestätigen            
                    </div>
                </div>
            </div>            
        </div>

        <hr class="col-xs-12" />    
    </div>
</div>
<style>
    .ssl-container {float:right;}
.ssl {display:block;float:right;font-size:24px;background: #EFEFEF;padding: 14px;border-radius: 35px;}
.ssl-text {display:block;float:right;padding:10px 10px 0 10px;color:#555;text-align:center;}
.step {background:#eee;font-size:1em;color:#ccc;padding:15px;font-size:1.25em;}
.step.active {color:#3C763D;}
.step .caret {position:absolute;margin:0;color:#eee;opacity:1.0;}
.step .caret.right {right:1px;top:0px;border-top:27px solid transparent;border-bottom:28px solid transparent;border-left:30px solid;}
.step .caret.bottom {bottom:-15px;left:35%;border-top:15px solid;border-right:50px solid transparent;border-left:50px solid transparent;}
@media(max-width:991px) {
  .step {text-align:center;margin-top:20px;height:80px;}
  .step .caret.right {top:20px;border-top:40px solid transparent;border-bottom:40px solid transparent;}
}
@media(max-width:767px) {
  .step {height:auto;}
  .ssl-container {float:none;margin:0 auto;width:220px;}
}
@media(min-width:768px) {
  .step {margin-right:20px;}
}
</style>